/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site        : 'reveal';
@reset       : 'reveal';

/* Elements */
@button      : 'reveal';
@container   : 'reveal';
@divider     : 'reveal';
@flag        : 'reveal';
@header      : 'reveal';
@icon        : 'reveal';
@image       : 'reveal';
@input       : 'reveal';
@label       : 'reveal';
@list        : 'reveal';
@loader      : 'reveal';
@placeholder : 'reveal';
@rail        : 'reveal';
@reveal      : 'reveal';
@segment     : 'reveal';
@step        : 'reveal';

/* Collections */
@breadcrumb  : 'reveal';
@form        : 'reveal';
@grid        : 'reveal';
@menu        : 'reveal';
@message     : 'reveal';
@table       : 'reveal';

/* Modules */
@accordion   : 'reveal';
@checkbox    : 'reveal';
@dimmer      : 'reveal';
@dropdown    : 'reveal';
@embed       : 'reveal';
@modal       : 'reveal';
@nag         : 'reveal';
@popup       : 'reveal';
@progress    : 'reveal';
@rating      : 'reveal';
@search      : 'reveal';
@shape       : 'reveal';
@sidebar     : 'reveal';
@sticky      : 'reveal';
@tab         : 'reveal';
@transition  : 'reveal';

/* Views */
@ad          : 'reveal';
@card        : 'reveal';
@comment     : 'reveal';
@feed        : 'reveal';
@item        : 'reveal';
@statistic   : 'reveal';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : 'site';


/*******************************
         Import Theme
*******************************/

@import (multiple) "./theme.less";
@fontPath : './themes/@{theme}/assets/fonts';

/* End Config */
